<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Ludvig Sköld</title>
		<meta name="description" content="Unika - Responsive One Page HTML5 Template">
		<meta name="keywords" content="HTML5, Bootsrtrap, One Page, Responsive, Template, Portfolio" />
		<meta name="author" content="imransdesign.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="inc/animations/css/animate.min.css">
		<link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="inc/owl-carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="inc/owl-carousel/css/owl.theme.css">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/mobile.css">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skin/cool-gray.css">
        <!-- <link rel="stylesheet" href="css/skin/ice-blue.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/summer-orange.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/fresh-lime.css"> -->
        <!-- <link rel="stylesheet" href="css/skin/night-purple.css"> -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
        
        <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">
        
            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="index.html">Ludvig</a>
                    </div>
                    
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="body">Home</a></li>
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <!-- <li><a class="page-scroll" href="#services-section">Services</a></li> -->
                            <li><a class="page-scroll" href="#portfolio-section">Projects</a></li>                        
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
            
            
            
            
        	<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg.jpg);">				
				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">

						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h1>Ludvig Sköld</h1>
								<p>Junior Fullstack Developer</p>
                                <p>Currently practicing at FortVillage</p>
                                <div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://www.linkedin.com/in/ludvig-skold/" target="_blank" role="button">LinkedIn</a>
							</div>
							<!-- <div class="item">
								<h1>Join with us</h1>
								<p>To the greatest Journey</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
							</div>
							<div class="item">
								<h1>I'm Unika</h1>
								<p>One Page Responsive Theme</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://creativemarket.com/Themetorium" target="_blank" role="button">View More!</a>
							</div> -->
						</div>

					</div> <!-- /.caption -->
				</div> <!-- /.container -->
			</section>
			<!-- End text carousel intro section -->
                
                
                
            <div id="app">   
            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Little information about me. Press the icons for more information.</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <button style="background:none;border:none;" v-on:click="isHidden = !isHidden"><span class="rotate-box-icon"><i class="fa fa-user"></i></span></button>
                                    <div class="rotate-box-info">
                                        <h4>Who Am I?</h4>
                                        <p>I am a 22 year old junior Fullstack developer who loves everything about technology.</p>
                                        <transition name="fade">
                                            <div style="text-align:left;" key="3" v-if="!isHidden">
                                                <p></p><br>
                                                <p>In my spare time I practice and compete in table tennis. I also like to take photographs and play video games.
                                                    My goal with this career path is to be able to start my own company and hire my first employee.<br><br>
                                                    Currently I'm practicing at FortVillage in Varberg. We are programming a real estate system for people
                                                    who wants to easily rent out one of their properties, whether it be an apartment or an office.
                                                    At FortVillage we are using Angular as our frontend framework and C# .NET in backend.
                                                </p>
                                            </div>
                                        </transition>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <button style="background:none;border:none;" v-on:click="isHidden2 = !isHidden2"><span class="rotate-box-icon"><i class="fa fa-book"></i></span></button>
                                    <div class="rotate-box-info">
                                        <h4>Education</h4>
                                        <p>I studied System development in .NET at Varberg Campus in Sweden and will graduate in the summer of 2022.</p>
                                        <transition name="fade">
                                            <div key="3" v-if="!isHidden2">
                                                <p></p><br>
                                                <p>We studied courses that covered both Frontend and Backend development:
                                                    <ul style="text-align:left;">
                                                        <p><i class="fa fa-circle"></i> Development in C#</p>
                                                        <p><i class="fa fa-circle"></i> Agile System Development in teams</p>
                                                        <p><i class="fa fa-circle"></i> Object oriented programming</p>
                                                        <p><i class="fa fa-circle"></i> Database development & Database administration</p>
                                                        <p><i class="fa fa-circle"></i> Advanced .NET</p>
                                                        <p><i class="fa fa-circle"></i> Web development</p>
                                                        <p><i class="fa fa-circle"></i> Advanced System Development in ASP .NET</p>
                                                        <p><i class="fa fa-circle"></i> Systemtesting</p>
                                                    </ul>
                                                </p>
                                            </div>
                                        </transition> 
                                    </div>
                                </div>
                            </div>                           
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End rotate box-1 -->
                
                <div class="extra-space-l"></div>
                
                <!-- Begin page header--> 
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>Skills</h4>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <!-- Begin Our Skills -->
                <div class="our-skills">
                	<div class="container">
                    	<div class="row">
                        
                        	<div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.1s">
                                    <div class="progress-lebel">
                                        <h6>C# & .NET</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.1s">
                                    <div class="progress-lebel">
                                        <h6>WordPress</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Html & Css</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Typescript</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.3s">
                                    <div class="progress-lebel">
                                        <h6>Angular</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.3s">
                                    <div class="progress-lebel">
                                        <h6>Vue Js</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>SQL</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Agile working</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-12 text-center">
                                <div class="skill-bar wow slideInUp" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Typing speed</h6>
                                    </div>
                                    <a href="https://data.typeracer.com/pit/profile?user=lelzarenn&ref=badge" target="_top"><img src="https://data.typeracer.com/misc/badge?user=lelzarenn" border="0" alt="TypeRacer.com scorecard for user lelzarenn"/></a>
                                </div>
                            </div> -->
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End Our Skill -->
            </section>
          <!-- End about section -->           
       
            <!-- Begin Portfolio -->
            <section id="portfolio-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <!-- Begin page header-->
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Projects</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">Check out some of my previous projects</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End page header-->
                                <div class="portfoloi_content_area" >
                                    <div class="portfolio_menu" id="filters">
                                        <ul>
                                            <li class="active_prot_menu"><a href="#porfolio_menu" data-filter="*">all</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".websites">websites</a></li>
                                            <li><a href="#porfolio_menu" data-filter=".appsDevelopment">apps development</a></li>
                                        </ul>
                                    </div>
                                    <div class="portfolio_content">
                                        <div class="row"  id="portfolio">
                                            <div class="col-xs-12 col-sm-4 websites">
                                                <div class="portfolio_single_content">
                                                    <img src="img/projects/outmeals.png" alt="title"/>  
                                                        <a href="https://outmeals.com/" target="_blank">
                                                            <div class="projectInfo">
                                                                <h2>Outmeals</h2>
                                                                <span>I helped developing their new website using:</span><br>
                                                                <p>HTML & CSS</p>
                                                                <p>Javascript</li>
                                                                <p>PHP</p>
                                                                <p>Wordpress</p>
                                                            </div>
                                                        </a>
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End portfolio -->
                
                
                
                
            <!-- Begin contact section -->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/map-bg.png);">
            <div class="cover"></div>
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contact</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Feel free to contact me if you have any questions about me or if you need help with anything.</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">
                        
                            <div class="col-sm-12">
                                <div class="contact-info">
                                    <ul class="contact-address" style="text-align:left;">
			                            <li><h4><i class="fa fa-map-marker fa-lg"></i>Varberg, Halland, Sweden</h4></li>
			                            <li><h4><i class="fa fa-envelope"></i>ludvig.skold@gmail.com</h4></li>
			                            <li><h4><i class="fa fa-linkedin"></i><a style="color:white;" href="https://www.linkedin.com/in/ludvig-skold/" target="_blank">LinkedIn</a></h4></li>
			                        </ul>
                                </div>
                            </div>                                                                               
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->
                
                

                
            <!-- Begin footer -->
            <footer class="text-off-white">
                
                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Ludvig Sköld | 2022</p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                              
        </div><!-- body ends -->
        
        
    </div>
        
        <!-- Plugins JS -->
		<script src="inc/jquery/jquery-1.11.1.min.js"></script>
		<script src="inc/bootstrap/js/bootstrap.min.js"></script>
		<script src="inc/owl-carousel/js/owl.carousel.min.js"></script>
		<script src="inc/stellar/js/jquery.stellar.min.js"></script>
		<script src="inc/animations/js/wow.min.js"></script>
        <script src="inc/waypoints.min.js"></script>
		<script src="inc/isotope.pkgd.min.js"></script>
		<script src="inc/classie.js"></script>
		<script src="inc/jquery.easing.min.js"></script>
		<script src="inc/jquery.counterup.min.js"></script>
		<script src="inc/smoothscroll.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

		<!-- Custom JS -->
		<script src="js/theme.js"></script>
        <script src="js/app.js"></script>

    </body> 
        
            
</html>
